/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@font-face {
    font-family: 'OpenDyslexic';
    src: url("assets/fonts/OpenDyslexic-Regular.woff") format('woff'),
    url("assets/fonts/OpenDyslexic-Regular.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}
body, p, span, div, h1, h2, h3, h4, h5, h6, ion-label, ion-text {
    font-family: 'OpenDyslexic', sans-serif !important;
}
ion-header{
    background: #92A695;
    margin: 0;
    padding-top: 25px;
    border: none;
    box-shadow: none;
}
ion-title, ion-toolbar{
    --background: #92A695;
    color: #FFEECE;
    margin: 0;
    padding: 0;
    border: none;
    text-align: center;
    font-family: 'OpenDyslexic', sans-serif !important;
}
ion-content {
    --background: #FFEECE;
    padding-bottom: 0 !important;
    height: 100%;
    overflow-y: auto;
  }

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';
