<ion-header>
  <ion-toolbar>
    <ion-title>Camera & Scanner Test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="full" (click)="scanDocument()">Scan Document</ion-button>
  
  <div class="ion-text-center" style="margin-top: 20px;">
    <h2>Scanned Document</h2>
    <img id="scannedImage" alt="Scanned Document" style="width: 100%; max-width: 400px; margin: auto;" />
  </div>
  <ion-list>
    <ion-item>
      Detected Text:
    </ion-item>
    <ion-item>
      <ion-text style="white-space: pre-wrap; word-break: break-word;">
        {{ detectedText }}
      </ion-text>
    </ion-item>
  </ion-list>
</ion-content>
